<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts" translate="posts">Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="posts/new" translate="newPost">New Post</a>
      </li>  
      <li routerLinkActive="active">
        <a routerLink="photos/" translate="photos">My Photos</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" >
        <a><button (click)="switchLanguage('en')">English</button></a>
      </li>
      <li routerLinkActive="active">
        <a><button (click)="switchLanguage('fr')">French</button></a>
      </li>
    </ul>
  </div>
</nav>